.navbar-container .navbar-content .left .logo-title
    display none
    
.navbar-container .navbar-content .left .logo-image
    width 80px !important
    height auto !important

.navbar-container .navbar-content .right .desktop .navbar-list .navbar-item.search
    margin-left 0 !important